asgiref==3.7.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
cffi==1.15.1
channels==3.0.3
constantly==15.1.0
cryptography==41.0.1
daphne==3.0.2
DateTime==4.3
distlib==0.3.6
Django==4.2
django-ckeditor==6.0.0
django-cleanup==5.1.0
django-cors-headers==3.5.0
django-crispy-forms==1.9.2
django-dotenv==1.4.2
django-filter==2.4.0
django-js-asset==2.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
filelock==3.12.2
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
Pillow==7.2.0
platformdirs==3.5.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.2.0
pytz==2023.3
service-identity==23.1.0
six==1.16.0
sqlparse==0.4.4
Twisted==22.10.0
twisted-iocpsupport==1.0.3
txaio==23.1.1
typing-extensions==4.6.3
tzdata==2023.3
virtualenv==20.21.0
zope.interface==6.0
